<style type="text/css">
body{
	font-family: arial;
	font-size: 14px;
}
		
#utama{
	width: 375px;
	margin: 0 auto;
	margin-top: 12%;
}
#menu{
	background-color:#2A2A2A;
	height:60px;
	border-bottom:6px solid #000000;
	border-top-right-radius: 10px;		
	border-top-left-radius: 10px;
}
#menu ul{
	list-style:none;
	margin:0;
	padding:0;
}
#menu ul li.utama{
	display:inline-table;
}

#menu ul li a{
	display:block;
	text-decoration:none;
	line-height:50px;
	padding:0 10px;
	color:#FFFFFF;
	font-size:18px;
}
.utama ul{
	display:none;
	position:absolute;
	z-index:2;
}
.utama:hover ul{
	display:block;
}
.utama ul li{
	display:block;
	width:130px;
}
	
	#inputan{
		background-color:#A2A2A2;
		padding:30px;
		border-bottom-right-radius: 10px;	
		border-bottom-left-radius: 10px;	
	}
	
	input{
		padding: 13px;
		border: 0;	
	}
	
</style>