body{
	font-family:arial;
	font-size:14px;
}
#canvas{
	width:1330px;
	margin:0 auto;
	border: 1px solid silver;
}
#header{
	padding:70px;
	background-image:url(../gambar/atas_Lab.jpg);
}
#menu{
	background-color:#66CCFF;
}
#menu ul{
	list-style:none;
	margin:0;
	padding-left:3px;
}
#menu ul li.utama{
	display:inline-table;	
}

#menu ul li.baris{
	display:block;	
}

#menu ul li:hover{
	background-color:#6440F4;
}
#menu ul li a{
	display:block;
	text-decoration:none;
	line-height:47px;
	padding:0 10px;
	color:#000000;
	font-size:18px;
	font-style:italic;
}

.utama ul{
	display:none;
	position:absolute;
	z-index:2;
}

.baris ul{
	display:none;
	position:absolute;
	z-index:2;
}


.utama:hover ul{
	display:block;
}

.utama ul li{
	display:block;
	background-color:#66CCFF;
	width:180px;
}

#isi{
	min-height:400px;
	padding-left:125px;
	padding-right:125px;
	background:#001b8e;
}
#dalam{
	background-color:#FFFFFF;
	min-height:400px;
}
#footer{
	text-align:center;
	padding:20px;
	background-color:#66CCFF;
	color:#000000;
}
</style>